  /*body*/
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
  }


  .link {
    background: #264E95;
    border-radius: 100px;
    color: #FFFFFF;
  }

  .button_link_next {
    font-size: 24px;
    line-height: 29px;
    border: none;
    background-color: #FFFFFF;
    display: block;
    margin-left: auto;
    padding: 50px 0;
    cursor: pointer;
  }

  .button_link_next:hover {
    color: #264E95;
    text-decoration: underline #264E95;
    font-size: 25px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover { background: yellow; }

  a:active { color: red; }

  h2 {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .container {
    width: 1440px;
    margin: 0 auto;
  }

  .border-wrapper {
    border-bottom: 1px solid #E1E1E1;
  }

  .button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .arrow_button {
    cursor: pointer;
    border: none;
    background-color: #fff;
  }

  .arrow_button:hover .path_hover {
    stroke: red;
  }

  /*Header*/

  .main-header {
    position: relative;
    background-image: url(/img/bg-header.png);
    background-repeat: no-repeat;
    padding-top: 69px;
    padding-left: 68px;
    margin-bottom: 60px;
  }

  .header-menu {
    width: 1336px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    line-height: 27px;
    background-color: rgba(255, 255, 255, 0.88);
    border-radius: 100px;
  }

  .header-menu h1 {
    font-weight: 500;
    font-size: 22px;
    margin-left: 123px;
  }

  .header-link {
    padding-right: 14px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20px;
  }

  .main-logo {
    position: absolute;
    left: 45px;
    top: 33px;
  }

  .login-link {
    padding: 8px 20px;
  }

  .join-block {
    margin-top: 68px;
    margin-left: 130px;
    padding-bottom: 192px;
  }
  
  .join-block p {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
  }

  .join-block a {
    font-weight: 600;
    font-size: 25px;
    padding: 14px 24px;
  }

  /*1 part*/

  .layout_wrapper {
    padding-bottom: 55px;
    display: grid;
    grid-template-columns: 330px 1fr;
    grid-template-rows: auto auto;
    gap: 86px;
  }

  /*Левое меню*/

  .left_menu {
    grid-row: 1/-1;
  }

  .site-navigation,
  .hashtag {
    background: #264E95;
    border-radius: 20px;
    color: #FFFFFF;
  }

  .site-navigation {
    padding: 25px;
    margin-bottom: 35px;
  }

  .site-navigation h3 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
  }

  .site-navigation ul {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .hashtag {
    padding: 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }

  .hashtag li {
    display: inline-block;
  }

  /*Объявления и посл. события*/

  .ads {
    border-bottom: 1px solid #E1E1E1;
  }

  .ads h2,
  .last-developments h2 {
    margin-top: 0;
  }

  .ads_list,
  .develop_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 86px;
  }
  
  /*border при наведении*/

  .ads_list li:hover,
  .develop_list  li:hover {
    border: 5px solid #264E95;
    border-radius: 10px;
  }

  /*2 part хз как добавить нижний бордер без лишнего дива а также как сделать колонки одной высоты при переносе строки*/

  .column_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 209px;
    font-weight: 600;
    font-size: 31px;
    line-height: 38px;
  }

  .update_list li,
  .essays_list li {
    padding: 22px 0;
    border-bottom: 1px solid #B2B2B2;
  }

  /*3 part Отчеты о восхождениях*/

  .reports {
    border-bottom: 1px solid #E1E1E1;
  }

  .reports_list li {
    display: grid;
    grid-template-columns: 182px 1fr;
    gap: 57px;
    align-items: center;
  }

  .reports_list li:not(li:last-of-type) {
    margin-bottom: 70px;
  }

  .reports_item h3 {
    font-weight: 600;
    font-size: 31px;
    line-height: 38px;
    margin: 0;
  }

  .reports_item p {
    margin: 0;
    font-size: 25px;
    line-height: 30px;
  }

    /*4 part Gallery*/

    .gallery {
      border-bottom: 1px solid #E1E1E1;
    }

    .gallery_wrapper {
      display: flex;
    }

  /*Contacts*/

  .contacts_wrapper {
    display: grid;
    grid-template-columns: 432px 1fr;
    gap: 72px;
  }

  .contacts_wrapper_list {
    padding: 25px 0;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
  }

  .navigation_hint {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }


  /*актив клуба*/

  .page_header {
    position: relative;
    padding-top: 69px;
    padding-left: 68px;
    padding-bottom: 60px;
    background-color: black;
  }


